

<div class="container mt-4">

  <div class="d-flex justify-content-between mb-3">

    <h2>Students ({{ students.length }})</h2>

    <a
      routerLink="/add"
      class="btn btn-success">

      Add Student

    </a>

  </div>

  @if(students.length > 0){

  <table class="table table-bordered table-striped">

    <thead class="table-dark">

      <tr>

        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Department</th>
        <th>Email</th>
        <th>Action</th>

      </tr>

    </thead>

    <tbody>

      @for(student of students; track student.id){

      <tr>

        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.department}}</td>
        <td>{{student.email}}</td>

        <td>

          <a
            class="btn btn-warning btn-sm me-2"
            [routerLink]="['/edit', student.id]">

            Edit

          </a>

          <button
            class="btn btn-danger btn-sm"
            (click)="deleteStudent(student.id)">

            Delete

          </button>

        </td>

      </tr>

      }

    </tbody>

  </table>

  } @else {

  <div class="alert alert-warning">

    No Students Found

  </div>

  }

</div>